<mat-card>
  <mat-card-header>
    <mat-card-title>Registration Form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Address"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="City">
          <mat-option value="option">Chennai</mat-option>
          <mat-option value="option">Mumbai</mat-option>
          <mat-option value="option">Delhi</mat-option>
          <mat-option value="option">Kolkata</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox>Angular</mat-checkbox>
      <mat-checkbox>Node js</mat-checkbox>
      <mat-checkbox>React js</mat-checkbox>
      <mat-checkbox>Javascript</mat-checkbox>
    </div>
  </mat-card-content>
</mat-card>